.redesigned-theme-2018 .wufoo .section h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
}

.field.text.fn, .field.text.ln {
    width: 148px !important;
}

label.choice {
    width: 100% !important;
}

.redesigned-theme-2018 .wufoo .section h3 {
    font-size: 16px !important;
}

.redesigned-theme-2018 .wufoo .section div {
    font-size: 14px !important;
}

.redesigned-theme-2018 input.btTxt {
    padding: 10px 15px !important;
}

.redesigned-theme-2018 .wufoo .section div {
    margin-bottom: 20px;
}

.redesigned-theme-2018 .wufoo .section h3 {
    border-top: 0px #FFFFFF !important;
}

@media only screen and (max-width: 580px) {
    .redesigned-theme-2018 form.wufoo {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
    }
}
