.redesigned-theme-2018 .wufoo .section h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
}

.redesigned-theme-2018 input.text {
    width: 175px !important;
}

label.choice {
    width: 100% !important;
}
